<nav class="navbar navbar-expand-lg navbar-light bg-primary aqua-color navbar-menu" id="navbar-content">
  <a class="navbar-brand" href="#">
    <%= image_tag('avatar.png', class: 'd-inline-block align-top avatar-header') %>
    Предметный фотограф Вадим Удалов
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <span class="navbar-text">
        тел. <b>098-724-91-25</b>
      </span>
      <li class="nav-item">
        <a class="nav-link" href="#">Главная</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Портфолио
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#photo_360_page">Фото 360</a>
          <a class="dropdown-item" href="#object_shooting_page">Предметная съемка</a>
          <a class="dropdown-item" href="#video_view_page">Видеообзоры</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#prices_page">Цены</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about_360_photos_page">О фото 360</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contacts_page">Контакты</a>
      </li>
    </ul>
  </div>
</nav>
