<%= render 'shared/header' %>

<div data-spy="scroll" data-target="#navbar-content" data-offset="0">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5">
      <h3>Предметная съёмка</h3>
      <p>
        Качественные фотографии - залог успеха вашей рекламной кампании, продажи вашего продукта и увеличение лояльности к бренду
      </p>
      <p>
        <button type="button" class="btn btn-outline-primary">Узнать больше</button>
      </p>
    </div>
    <div class="col-lg-6">
      <%= image_tag('landing_images/_MG_8162.jpg', class: 'radio-image') %>
    </div>
  </div>

  <div id='photo_360_page' class="row aqua-color header-row">
    <span class='header-name'>Фото 360</span>
  </div>

  <div class="row">
    <h4>Чтобы запустить 3D фото, которое хочешь просмотреть, просто кликни на картинку</h4>
  </div>

  <div class="row">
    <% 6.times do %>
      <div class="col-4">
        <p>
          <%= image_tag('landing_images/_MG_5100.jpg', class: 'img-thumbnail') %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="row aqua-color header-row" id="object_shooting_page">
    <span class='header-name'>Предметная съёмка</span>
  </div>

  <div class="row">
    <% 9.times do %>
      <div class="col-4">
        <p>
          <%= image_tag('landing_images/_MG_5100.jpg', class: 'img-thumbnail') %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="row aqua-color header-row" id="video_view_page">
    <span class='header-name'>Видеообзоры</span>
  </div>

  <div class="row">
    <% 3.times do %>
      <div class="col-4">
        <p>
          <%= image_tag('landing_images/_MG_5100.jpg', class: 'img-thumbnail') %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="row aqua-color header-row" id="prices_page">
    <span class='header-name'>Цены</span>
  </div>

  <div class="row">
    <div class="col">
      <p class="font-weight-bold">Стоимость анимационной 3D модели эффективнее предметного фото, хоть и дороже</p>
      <p>3D фотосъёмка - это технология позволяющая рассматривать отснятый объект будто бы у себя в руках. Его можно вращать в любом направлении и увеличивать для рассмотрения более мелких деталей.</p>
      <p>Цена этой услуги может варьироваться в зависимости от мноих факторов:</p>
      <ol>
        <li>На стоимость влияет объём заказа. Цена за одну 3D фотографию снижается при увеличении количества фотографируемых объектов.</li>
        <li>Цена зависит от размера и сложности предмета. Чем больше предмет - тем выше цена цена 3D фото.</li>
      </ol>
      <p>Также на сложность 3D фотосъёмки оказывает материал объекта - глянцевые и блестящие поверхности фотографировать гораздо сложнее.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class="table">
        <thead>
          <tr>
            <td colspan="3">
              <h4>Простые объекты - 3D съёмка</h4>
              <p class='small-text'>Имеют собственную опору, без отражающих поверхностей, не белые/светлые, размер до 30х30х30 см</p>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row aqua-color header-row" id="about_360_photos_page">
    <span class='header-name'>О фото 360</span>
  </div>

  <h3>Увеличение продаж с помощью 3D фото товара</h3>
  <p>
    Количество интернет-магазинов растёт с геометрической прогрессией. Конкуренция увеличивается. Слабые игроки умирают, продают сильнейшие. Да, фотку практически любого товара можно найти в сети и выставить на свой сайт. Да, можно ещё и название магазина на нём своё написать, выдав за личное. Но разве это уровень онлайн магазина? Картинки товаров разных цветов и размеров?
  </p>
  <p>
    Одну картинку можно увеличить на 20%, а вторую на 50%? Нельзя рассмотреть товар из-за низкого качество изображения, а в нете лучше нету?)
  </p>

  <center>
    <h4>Сравнения обычного фото и 3D фото</h4>
  </center>

  <div class="row">
    <% 2.times do %>
      <div class="col-6">
        <p>
          <%= image_tag('landing_images/_MG_5100.jpg', class: 'img-thumbnail') %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="row aqua-color header-row" id="contacts_page">
    <span class='header-name'>Контакты</span>
  </div>

  <div class="row">
    <div class="col">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-skype"></a>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
