@import 'bootstrap';

.aqua-color {
  background-color: #9ae4f5 !important;
}
.navbar-menu {
  .navbar-brand {
    font-size: 1rem;
  }
}
.avatar-header {
  width: 30px;
  height: 30px;
}
.radio-image {
  max-width: 100%;
  max-height: 600px;
}
.header-row {
  height: 50px;
  align-content: center;
  font-size: 20px;
  font-weight: bold;
}
.header-name {
  margin-left: 30px;
}
.small-text {
  font-size: 12px;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-viber {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}
